<style>
#mia{
	background-color: #808080;
	color:black;
	border:2px solid black;
	position:relative;
	box-sizing: border-box;
	width:40%;
	height:300px;
	font: 135%;
}

#div1{
	float:right;
	position:absolute;
	top:0px;
	right:0px;
	background-color: #FFB6C1;
	color:black;
	border:1px solid black;
} 
#div2{ 

	float:right;
	position:absolute;
	top:0px;
	right:0px;
	background-color: #CD5C5C;
	color:black;
	border:1px solid black;

}
#div3{
float:right;
	position:absolute;
	top:0px;
	right:0px;
	background-color: #F0E68C;
	color:black;
	border:1px solid black;
}
</style>